Arduino
Calibre\ Library
circle-city-backup.tar.gz
CONTRIBUTORS.md
*.gpr
*.rep
Desktop
Documents
Downloads
drive
ghidra*
go
hub
*.torrent
mount
Music
nana*
Pictures
Postman
snap
*.lock
*.temp
Templates
Videos
Zotero
\.*
